<div class="w3-container w3-padding-32" id = "about">
    <h3 class="w3-border-bottom w3-borger-light-grey w3-padding-16">About</h3>
    <p>Hell</p>
</div>

<div class="w3-row-padding">
    <div class="w3-col 13 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <img src="images/team/2.jpg" alt="Someguy" style="width:100%">
            </div>
            <h3>Barry</h3>
            <p class="w3-opacity">CEP</p>
            <p>I hate front-end. Todo lo que necesitabas era un peque침o empuj칩n.</p>
            <p><a class="w3-button w3-light-grey w3-block" href="mailto:barry1099ht@gmail.com"Contact></a></p>
    </div>
    <div class="w3-col 13 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <img src="images/team/1.jpg" alt="Someguy" style="width:100%">
            </div>
            <h3>Barry</h3>
            <p class="w3-opacity">Founder</p>
            <p>I hate front-end. Todo lo que necesitabas era un peque침o empuj칩n.</p>
            <p><a class="w3-button w3-light-grey w3-block" href="mailto:barry1099ht@gmail.com"Contact></a></p>
    </div>
</div>